.team__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;

  position: relative;
  justify-self: center;
  align-self: center;

  width: 100%;
  height: 100%;
}

.team-member__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}