.reference-panel__wrapper {
  padding: var(--team-builder-gap);
  background-color: var(--dark3);
}

.reference-panel__content {
  position: relative;
  width: 100%;
  height: 100%;
  
  border: var(--team-builder-border);
}