.status-control__wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 0;

  position: relative;
  width: fit-content;
  min-width: calc(40px + 33ch);
  height: auto;

  padding: 0.5rem;
  background-color: rgba(var(--dark3-components), 0.5);
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px 0 rgba(var(--dark3-components), 0.9);
}

.status-control__entry {
  display: grid;
  grid-template-columns: 40px 10ch 7ch 7ch;
  gap: 1.5ch;
  justify-content: center;
  align-items: center;

  position: relative;
  width: auto;
  height: clamp(1.5rem, 2rem, 5%);
}

.status-control__icon,
.status-control__name,
.status-control__cause,
.status-control__resist {
  grid-column: span 1;
  align-self: center;

  display: flex;
  align-items: center;

  position: relative;
  width: 100%;
  height: 100%;
}
/* Pad cells except icons */
.status-control__name,
.status-control__cause,
.status-control__resist {
  padding: 0 0.5ch 0 0.5ch;
}
/* Center justify everything except names */
.status-control__icon,
.status-control__entry:first-of-type > .status-control__name,
.status-control__cause,
.status-control__resist {
  justify-content: center;
}

/* Background colors */

.status-control__entry:nth-of-type(2n) {
  background-color: rgba(var(--dark1-components), 0.5);
}
.status-control__entry:nth-of-type(2n + 1) {
  background-color: rgba(var(--dark2-components), 0.5);
}
.status-control__entry > div:nth-of-type(2n):not(.status-control__icon) {
  background-color: rgba(var(--dark1-components), 0.1);
}
.status-control__entry > div:nth-of-type(2n + 1):not(.status-control__icon) {
  background-color: rgba(var(--dark1-components), 0.3);
}
.status-control__entry:not(:first-of-type) > div:not(.status-control__icon):hover {
  background: rgba(var(--blue1-components), 0.5);
}
