.speed-control__wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 0;

  position: relative;
  width: fit-content;
  min-width: calc(13ch);
  height: auto;

  padding: 0.5rem;
  background-color: rgba(var(--dark3-components), 0.5);
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px 0 rgba(var(--dark3-components), 0.9);
}

.speed-control__entry {
  display: grid;
  grid-template-columns: 9ch 4ch;
  gap: 1ch;
  justify-content: center;
  align-items: center;

  position: relative;
  width: auto;
  height: clamp(1.5rem, 2rem, 5%);
}

.speed-control__name,
.speed-control__value {
  grid-column: span 1;
  align-self: center;

  display: flex;
  align-items: center;

  position: relative;
  width: 100%;
  height: 100%;
}
/* Pad cells */
.speed-control__name,
.speed-control__value {
  padding: 0 1ch 0 1ch;
}
/* Center cells except names */
.speed-control__entry:first-of-type > .speed-control__name,
.speed-control__value {
  justify-content: center;
}

/* Background colors */

.speed-control__entry:nth-of-type(2n) {
  background-color: rgba(var(--dark1-components), 0.5);
}
.speed-control__entry:nth-of-type(2n + 1) {
  background-color: rgba(var(--dark2-components), 0.5);
}
.speed-control__entry > div:nth-of-type(2n) {
  background-color: rgba(var(--dark1-components), 0.1);
}
.speed-control__value:hover {
  background: rgba(var(--blue1-components), 0.5);
}
.speed-control__entry:not(:first-of-type) > div:not(.speed-control__name):hover {
  background: rgba(var(--blue1-components), 0.5);
}