/* Dropdown */
/* #region */

.dropdown__wrapper {
  position: relative;
}

.dropdown {
  background: #ffffff;
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: inherit;
  opacity: 0;
  visibility: hidden;
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

.dropdown__options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown__option {
  text-decoration: none;
  color: #333333;
  padding: 0 0.5rem;
  display: block;
  font-size: 0.9rem;
}

.dropdown__option:hover {
  background: var(--blue1);
  cursor: pointer;
}

.dropdown__trigger {
  background: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: none;
  vertical-align: middle;
}

.dropdown__trigger:hover {
  background: var(--blue1);
}

.dropdown__title {
  font-weight: 700;
  vertical-align: middle;
}

/* #endregion */

/* Double slider base */
/* #region */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: inherit;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #9fe5e1;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  font-size: 12px;
}

.slider__left-value {
  left: -1rem;
}

.slider__right-value {
  right: -1rem;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: inherit;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* #endregion */

/* Double slider */
/* #region */

.double-slider__wrapper {
  display: flex;
}

.double-slider__input {
  width: 3rem;
}

.double-slider__input--left {
  margin-right: 0.5rem;
}

.double-slider__input--right {
  margin-left: 0.5rem;
}

/* #endregion */