/* Spacing between search entries, and shape */
.planner-search__entry {
  margin-top: var(--entry-top-margin);
  border-radius: 0.25rem;
  padding-top: var(--entry-vertical-padding);
}

/* Lower shadow */
/* #region */

.planner-search__entry:after {
  content: '';
  display: block;
  position: absolute;
  box-shadow: inset var(--bg-shadow-inset) rgba(var(--blue1-components), 1);
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.5s ease;
}

.planner-search__entry:hover:after {
  width: 100%;
}

/* #endregion */