.coverage-view__wrapper {
  display: grid;
  grid-template-columns: 25% repeat(auto-fit, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: row;
  gap: 0.5rem;

  position: relative;
  width: 100%;
  height: 100%;

  font-family: var(--monospace);
}

/* Cell formatting */
/* #region */ 

.team-column-cell,
.type-matchup__cell,
.field-control__cell,
.speed-control__cell,
.status-control__cell {
  position: relative;
  width: 100%;
  height: 100%;
}

.team-column__cell {
  grid-row: 1 / 7;
  grid-column: 1 / 2;
}

.type-matchup__cell {
  grid-row: 1 / 7;
  grid-column: 2 / 3;
}

.status-control__cell {
  grid-row: auto;
  grid-column: 3 / 4;
}

.coverage-view__spacer {
  grid-column: 3 / 4;
}

.field-control__cell {
  grid-row: auto;
  grid-column: auto;
}

.speed-control__cell {
  grid-row: auto;
  grid-column: auto;
}

/* #endregion */

.coverage-view__wrapper button {
  outline: none;
}