.coverage-view__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);

  position: relative;
  width: 100%;
  height: 100%;

  font-family: var(--monospace);
}

.team-column__cell {
  grid-row: 1 / 7;
  grid-column: 1 / 4;

  position: relative;
  width: 100%;
  height: 100%;
}

.type-matchup__cell {
  grid-row: 1 / 7;
  grid-column: 4 / 9;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;
  height: 100%;

  background-color: rgba(var(--dark2-components), 0.2);
}

.field-control__cell {
  grid-row: 1 / 3;
  grid-column: 9 / 13;

  position: relative;
  width: 100%;
  height: 100%;

  border: 1px solid white;
}

.speed-control__cell {
  grid-row: 3 / 5;
  grid-column: 9 / 13;

  position: relative;
  width: 100%;
  height: 100%;

  border: 1px solid white;
}

.status-control__cell {
  grid-row: 5 / 7;
  grid-column: 9 / 13;

  position: relative;
  width: 100%;
  height: 100%;

  border: 1px solid white;
}