.nature-select__wrapper {
  display: flex;
  flex-direction: column;

  position: relative;
  width: 100%;
  height: 100%;

  background-color: rgba(var(--dark2-components), 0.3);
}

.nature-select__results {
  margin-top: 1rem;

  position: relative;
  width: 100%;
  height: 100%;

  font-size: 12px;
}

.nature-select__entries-wrapper {
  position: relative;

  height: 100%;
  width: 100%;
}
.nature-select__entries-wrapper > * + * {
  margin-top: 0.5rem;
}

.nature-select__entry,
.nature-select__legend {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr;

  align-items: center;
  gap: 0 24px;

  min-width: fit-content;
  text-align: left;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 0.5rem;

}

.nature-select__legend {
  background-color: var(--dark2);
  box-shadow: 0px 1px var(--dark1);
  margin-bottom: 1rem;
  font-weight: 600;
}

.nature-select__entry {
  position: relative;

  background-color: var(--dark2);
  box-shadow: 0px 1px var(--dark1);

  transition: 0.2s ease;
}
.nature-select__entry:hover {
  cursor: pointer;
  background-color: var(--dark1);
}

.nature-select__name {
  grid-column: 1 / 2;
}
.nature-select__boost {
  grid-column: 2 / 3;
  color: var(--green1);
}
.nature-select__reduce {
  grid-column: 3 / 4;
  color: var(--red1);
}