
/* pokemon-team */
/* #region */

.pokemon-team {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  width: 80vw;
  border: 1px solid black;
}

.pokemon-team__member {
  border: 1px solid black;
}

/* #endregion */
