.cart-view-accordion__wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  background-color: var(--dark1);
  box-shadow: var(--control-shadow);
  border-radius: 15px;
  
  justify-self: center;
  align-self: center;
  padding: 0.25rem;
}

.cart-view-accordion__title {
  font-weight: 600;
  font-size: 1.2rem;
}

.target-entity-accordion__title {
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 0.5rem;
}