.member-details__wrapper {
  display: grid;
  grid-template-rows: 6rem 2fr;
  grid-template-columns: 1fr 2fr;
  gap: var(--team-builder-gap);

  background-color: var(--dark3);
}
/* Hide content when inactive, i.e. member isn't selected */
.member-details__wrapper--inactive div {
  display: none;
}

.member-details__content {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100%;
  height: 100%;

  padding: var(--team-builder-gap);
}

.member-details__ability,
.member-details__item,
.member-details__moveset {
  font-size: 14px;
}

/* Hover effects */
/* #region */

/* Individual moves */
.member-details__move-wrapper,
/* Individual stat boxes */
.member-details__ev-wrapper,
.member-details__iv-wrapper,
.member-details__nature-wrapper,
/* All other boxes */
.member-details__wrapper div:not(.member-details__moveset):not(.member-details__stats) > .member-details__content {
  transition: 0.3s ease;
}

/* Change brightness when hovering over entire box, or when active */
/* Individual moves */
.member-details__move-wrapper:hover,
.member-details__move-wrapper--active,
/* Individual stat boxes */
.member-details__stat-wrapper:hover:not(.member-details__content--disabled),
.member-details__stat-wrapper--active:not(.member-details__content--disabled),
/* All other boxes */
.member-details__wrapper div:not(.member-details__moveset):not(.member-details__stats) > .member-details__content:not(.member-details__content--disabled):hover, 
.member-details__wrapper div:not(.member-details__moveset) > .member-details__content--active {
  background-color: rgba(var(--light1-components), 0.05);
}

/* Hover effects for cosmetic and extra boxes */
.member-details__extra-wrapper > div,
.member-details__cosmetic-wrapper {
  transition: border 0.3s ease;
}
.member-details__extra-wrapper > div:not(.member-details--disabled):hover,
.member-details__cosmetic-wrapper {
  border: var(--team-builder-border2);
}
.member-details__extra-wrapper > div:not(.member-details--disabled):focus-within,
.member-details__cosmetic-wrapper:focus-within {
  border: var(--team-builder-border1);
}
/* When extra and cosmetic boxes are 'active' */
.member-details__extra-wrapper > div > .member-details__content:not(.member-details__content--disabled):focus-within,
.member-details__cosmetic-wrapper:focus-within {
  background-color: rgba(var(--light1-components), 0.05);
}

/* Change cursor when over interactive element; some already do so (e.g. dropdowns and sliders) */
/* Individual moves */
.member-details__move-wrapper:hover,
/* Individual stat boxes */
.member-details__stat-wrapper:hover:not(.member-details__content--disabled),
/* Other boxes */
.member-details__ability > .member-details__content:not(.member-details__content--disabled),
.member-details__item > .member-details__content:not(.member-details__content--disabled),
.member-details__shiny > .member-details__content:not(.member-details__content--disabled) {
  cursor: pointer;
}

/* #endregion */


