.member-details__wrapper {
  display: grid;
  grid-template-rows: calc(6rem) 2fr;
  grid-template-columns: 1fr 2fr;
  gap: var(--team-builder-gap);

  background-color: var(--dark3);
}
/* Hide content when inactive, i.e. member isn't selected */
.member-details__wrapper--inactive div {
  display: none;
}

.member-details__content {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100%;
  height: 100%;

  padding: var(--team-builder-gap);
}

.member-details__ability,
.member-details__item,
.member-details__moveset {
  font-size: 14px;
}

/* Hover effects */
/* #region */

/* Only highlight individual moves within Moveset box */
.member-details__move-wrapper,
.member-details__wrapper div:not(.member-details__moveset) > .member-details__content {
  transition: 0.2s ease;
}

/* Change brightness when hovering over entire box, or when active */
.member-details__move-wrapper:hover,
.member-details__wrapper div:not(.member-details__moveset) > .member-details__content:not(.member-details__content--disabled):hover, 
.member-details__move-wrapper--active,
.member-details__wrapper div:not(.member-details__moveset) > .member-details__content--active {
  background-color: rgba(var(--light1-components), 0.05);
  filter: brightness(1.05);
}

/* Change cursor when over interactive element; some already do so (e.g. dropdowns and sliders) */
.member-details__move-wrapper:hover,
.member-details__ability > .member-details__content:not(.member-details__content--disabled),
.member-details__item > .member-details__content:not(.member-details__content--disabled),
.member-details__stats > .member-details__content:not(.member-details__content--disabled) {
  cursor: pointer;
}

/* #endregion */

/* Icon */
/* #region */

.member-details__cosmetic-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  
  position: relative;
  width: 100%;
  height: 100%;

  border: var(--team-builder-border);

  /* Make dropdown go over other interactive elements; thumbs in level slider have z-index 3-5 */
  z-index: 10;
}

.member-details__icon-options-wrapper {
  display: grid;
  grid-template-columns: calc(40px + 1rem) 1fr;
  grid-template-rows: 1fr;
  gap: var(--team-builder-gap);
  justify-content: center;
  align-items: center;
  
  position: relative;
  width: 100%;
  height: 100%;
}

.member-details__icon-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background-color: var(--dark2);
  border-radius: 50%;
  box-shadow: var(--control-shadow);
}

.member-details__cosmetic {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;
  height: 100%;
}

.member-details__cosmetic-form-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;
  height: 100%;
}
.member-details__cosmetic-form-icon--selected,
.member-details__cosmetic-form-icon:hover {
  background-color: var(--blue1);
  border-radius: 50%;
}
.member-details__cosmetic-form-icon:hover {
  cursor: pointer;
}

/* #endregion */

/* Extra */
/* #region */

.member-details__extra-wrapper {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 100%;
  gap: var(--team-builder-gap);
  
  width: 100%;
  height: 100%;
}

.member-details__nickname {
  border: var(--team-builder-border);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  
  position: relative;
}

.member-details__level {
  grid-row: 2 / 3;

  position: relative;

  border: var(--team-builder-border);
}

.member-details__gender {
  grid-row: 3 / 4;

  position: relative;

  border: var(--team-builder-border);
}

.member-details__shiny {
  grid-row: 4 / 5;

  position: relative;

  border: var(--team-builder-border);
}

.member-details__happiness {
  grid-row: 5 / 6;
  
  position: relative;

  border: var(--team-builder-border);

  font-size: 0.8rem;
}

/* #endregion */

/* Main */
/* #region */

.member-details__main-wrapper {
  grid-row: 1 / 3;
  grid-column: 2 / 3;

  display: grid;
  grid-template-rows: 3rem 9rem 2fr;
  grid-template-columns: 1fr 1fr;
  gap: var(--team-builder-gap);

  width: 100%;
  height: 100%;
}

/* Moveset */
/* #region */

.member-details__moveset {
  border: var(--team-builder-border);
  grid-row: 2 / 3;
  grid-column: 1 / 3;

  position: relative;
}

.member-details__moveset-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: var(--team-builder-gap);

  position: relative;
  width: calc(100% - 2 * var(--team-builder-gap));
  height: calc(100% - 2 * var(--team-builder-gap));
}

.member-details__move-wrapper {
  display: grid;
  grid-template-columns: 47px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 0.5rem;

  position: relative;

  border: var(--team-builder-border);
}

.member-details__move-header {
  position: absolute
}

.member-details__move-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-details__move-event {
  color: var(--red1);
  font-weight: 600;
}

/* #endregion */

.member-details__ability {
  border: var(--team-builder-border);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  
  position: relative;
}

/* Item */
/* #region */ 

.member-details__item {
  border: var(--team-builder-border);
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  
  position: relative;
}

.member-details__item > .member-details__content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  
  position: relative;
  width: 100%;
  height: 100%;
}

.member-details__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 50px;
  height: 30px;
  
  background-color: var(--dark2);
  box-shadow: var(--control-shadow);
  border-radius: 50%;
}

.member-details__item-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #endregion */

/* Stats */
/* #region */

.member-details__stats {
  border: var(--team-builder-border);
  grid-row: 3 / 4;
  grid-column: 1 / 3;

  display: grid;

  
  position: relative;
}

/* #endregion */

/* #endregion */
