.team-builder__wrapper {
  position: relative;

  display: grid;
  grid-template-rows: 4fr 6fr;
  grid-template-columns: 2fr 6fr;
  gap: 1rem;

  width: 100%;
  height: 100%;
}

.team-builder__icons-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.member-details__wrapper {
  border: 1px solid white;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.team-builder__view-wrapper {
  border: 1px solid white;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}