.cart-view__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100%;

  height: 100%;
  position: relative;
}

.cart-view-accordion__cell {
  grid-column: 1 / 9;
}
.cart-view-terminal__cell {
  grid-column: 9 / 13;
}

/* Border effects */
.cart-view-accordion__cell,
.cart-view-terminal__cell {
  overflow: hidden;
  grid-row: 1 / 2;
  position: relative;

  height: minmax(fit-content, 90%);

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 1rem 0.5rem 2.5rem 0.5rem;
}