.planner-container {
  border: 1px solid black;
}

/* planner-nav-bar */
/* #region */

.planner-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 50px;
  
  background-color: yellow;
}

.planner-nav-bar__main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 50%;
  height: 50px;
  
  background-color: lightblue;
}

.planner-nav-bar__secondary {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 50%;
  height: 50px;
  
  background-color: lightgoldenrodyellow;
}

/* #endregion */

/* planner__move-table */
/* #region */

.planner__table {
  display: flex;
  flex-direction: column;

  --move-table-column-layout: 1fr 1fr 4fr;

  gap: 2rem;
}

.planner__table--move {
  display: grid;
}

/* .planner__table-header */
/* #region */

.planner__table-header {
  border: 1px solid black;
  display: grid;
  grid-template-columns: var(--move-table-column-layout);
  grid-template-rows: 1fr;
}

.planner__table-name-header {
  border: 1px solid black;
  grid-column: 1 / 2;
}

.planner__table-data-header {
  border: 1px solid black;
  grid-column: 2 / 3;
}

.planner__table-pokemon-header {
  border: 1px solid black;
  grid-column: 3 / 4;
}

/* #end-region */


/* planner__table-row */
/* #region */ 

.planner__table-row {
  border: 1px solid black;
  display: grid;
  grid-template-columns: var(--move-table-column-layout);
}

/* #endregion */

/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */