/* planner-nav-bar */
/* #region */

.planner__nav-bar-wrapper {
  position: relative;
  box-shadow: var(--bg-shadow);

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;

  background-color: var(--dark2);
}

/* Similar to technique for .team__wrapper in ControlPanel.css */
.planner__nav-bar-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  box-shadow: var(--bg-shadow);
  z-index: 1;
}

.planner__nav-main-cell,
.planner__nav-secondary-cell {
  grid-row: 1 / 2;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  background-color: var(--dark2);
}

.planner__nav-main,
.planner__nav-secondary {
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  width: 100%;
  
  background-color: var(--dark1);
  box-shadow: var(--control-shadow);
}

.planner__nav-item {
  list-style: none;
}

/* #endregion */

/* Main search table */
/* #region */

.planner__main-search-table {
  display: flex;
  flex-direction: column;
}



/* #endregion */

/* #endregion */

/* Entity pages */
/* #region */

.planner-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.planner-page__ > * + * {
  margin-top: 0.5rem;
}

.planner-page__header {
  border: 1px solid white;
  grid-column: 1 / 13;
}


/* Descriptions */
/* #region */

.planner-page__descriptions-table {
  border: 1px solid white;
  grid-column: 1 / 13;
}

.planner-page__description {
  border: 1px solid white;
  grid-column: 1 / 13;
}

.planner-page__descriptions-table:nth-child(even) {
  background-color: lightgray;
}

.planner-page__description--main-entity {
  grid-column: 1 / 13;
  border: 1px solid white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;

  width: 33.3%;
}

.planner-page__description-code {
  border: 1px solid white;
  
  grid-column: 1 / 2;
}

.planner-page__description-text {
  border: 1px solid white;

  grid-column: 2 / 3;
}

/* #endregion */


/* Connection accordions */
/* #region */

/* Accordion title */

/* Accordion content */


/* Accordion sub-items */


/* Accordion entries */



/* #endregion */

/* #endregion */


/* Item icons */
/* #region */



/* #endregion */


/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */