.planner-container {
  --entry-background: #f8f8f8;
  --odd-entry-color: #e8e8e8;
  --entry-vertical-padding: 0.5rem;
  --entry-cell-left-padding: 0.25rem;
}

/* planner-nav-bar */
/* #region */

.planner-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  height: 50px;
  
  background-color: var(--dark2);
  list-style: none;
}

.planner-nav-bar__main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 50%;
  height: 50px;
}

.planner-nav-bar__secondary {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 50%;
  height: 50px;
}

/* #endregion */

/* Main search table */
/* #region */

.planner__main-search-table {
  display: flex;
  flex-direction: column;
}



/* #endregion */

/* #endregion */

/* Entity pages */
/* #region */

.planner-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.planner-page__ > * + * {
  margin-top: 0.5rem;
}

.planner-page__header {
  border: 1px solid white;
  grid-column: 1 / 13;
}


/* Descriptions */
/* #region */

.planner-page__descriptions-table {
  border: 1px solid white;
  grid-column: 1 / 13;
}

.planner-page__description {
  border: 1px solid white;
  grid-column: 1 / 13;
}

.planner-page__descriptions-table:nth-child(even) {
  background-color: lightgray;
}

.planner-page__description--main-entity {
  grid-column: 1 / 13;
  border: 1px solid white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;

  width: 33.3%;
}

.planner-page__description-code {
  border: 1px solid white;
  
  grid-column: 1 / 2;
}

.planner-page__description-text {
  border: 1px solid white;

  grid-column: 2 / 3;
}

/* #endregion */


/* Connection accordions */
/* #region */

/* Accordion title */

/* Accordion content */


/* Accordion sub-items */


/* Accordion entries */



/* #endregion */

/* #endregion */


/* Item icons */
/* #region */

.planner__item-icon-container {
  position: relative;
  margin-top: 1rem;
}

.planner__item-icon-background {
  position: absolute;
}

.planner__item-icon {
  position: absolute;
  background-image: url('../../assets/icons/itemicons-sheet.png');
  background-repeat: no-repeat;
}

.planner__item-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 0.1s;
}

/* #endregion */

/* Type icons */
/* #region */

.planner__type-icon-container {
  position: relative;

  padding-left: var(--accordion-left-padding);
  margin-top: 1rem;
}

.planner__type-icon-background {
  position: absolute;
}

.planner__type-icon--5 {
  position: absolute;
  background-image: url('../../assets/icons/typeicons5-sheet.png');
  background-repeat: no-repeat;
  overflow: hidden;
}

.planner__type-icon--8 {
  position: absolute;
  zoom: 0.4;
  -moz-transform:scale(0.4);
  -moz-transform-origin: 0 0;
  background-image: url('../../assets/icons/typeicons8-sheet.png');
  background-repeat: no-repeat;
}

/* #endregion */


/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */

/* */
/* #region */



/* #endregion */