.planner-search__wrapper {
  display: grid;

  position: relative;
  width: 100%;
  height: 100%;
}

/* Results */
/* #region */

.planner-search__results {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}

.planner-search__results > * {
  margin-top: 0.5rem;
}

/* #endregion */

/* Filters */
/* #region */

.planner-search__filter {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5rem 1rem;

  background-color: rgba(var(--dark3-components), 0.5);
  box-shadow: var(--control-shadow);
  padding: 0.5rem;
}

/* #endregion */