.accordion {
  position: relative;
  padding: 0.75rem;
  background-color: rgba(var(--dark3-components), 0.7);
}

.accordion__item {
  margin-top: 0.5rem;
}

.accordion__title-wrapper {
  display: grid;
  grid-template-columns: 1fr clamp(5%, 5rem, 10%);

  box-shadow: var(--control-shadow);
  padding-top: var(--control-padding);
  background-color: var(--dark2);
  border-radius: 1rem;
  padding: var(--cell-padding);
  margin-bottom: 1rem;

  transition: 0.5s ease;
}

.accordion__title-wrapper:hover {
  filter: brightness(1.2);
}

.accordion__title-wrapper--clickable:hover {
  cursor: pointer;
  color: var(--blue1);
}

.accordion__title-element-wrapper {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}

.accordion__title-trigger-wrapper {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.accordion__title-trigger-wrapper--clickable:hover {
  cursor: pointer;
  color: var(--blue1);
}

.accordion__content-wrapper {
  overflow: hidden;
}