.accordion {
  padding: 0.5rem;
  background-color: rgba(var(--dark3-components), 0.7);
  border-radius: 1rem;
}

.accordion__item {
  margin-top: 0.5rem;
}

.accordion__title-wrapper {
  display: grid;
  grid-template-columns: 1fr 2rem;

  box-shadow: var(--control-shadow);
  background-color: var(--dark2);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;

  transition: 0.5s ease;
}

.accordion__title-wrapper:hover {
  filter: brightness(1.2);
  cursor: pointer;
  color: var(--blue1);
}

.accordion__title-element-wrapper {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}

.accordion__title-trigger-wrapper {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}