/* nav-bar */
/* #region */

.nav-bar__wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--nav-bar-height);

  background-color: var(--dark2);
  padding: var(--cell-padding);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;

  width: 100%;
  height: 100%;

  padding-top: 0.2rem;
  
  background-color: var(--dark1);
  box-shadow: var(--control-shadow);
}

.nav-item {
  list-style: none;
}

/* #endregion */