.app__wrapper {
  width: 100%;
  /* overflow-y: hidden; */
  height: auto;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr var(--app-width) 1fr;
  grid-template-rows: 1fr;
}

.app {
  grid-column: 2 / 3;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

/* BG Panels */
/* #region */

.left-bg-panel,
.right-bg-panel {
  width: 100%;
  height: 100%;
  position: relative;
}
.left-bg-panel {
  grid-column: 1 / 2;
}
.right-bg-panel {
  grid-column: 3 / 4;
}

.left-bg-panel::after, .right-bg-panel::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.left-bg-panel::after {
  background: linear-gradient(
    to left,
    rgba(var(--dark2-components), 0),
    rgba(var(--dark2-components), 0.8),
    rgba(var(--dark3-components), 1),
    rgba(var(--dark3-components), 1)
  );
  transition: left var(--bg-transition), opacity var(--bg-transition);
}
.left-bg-panel.pulse::after {
  left: -5px;
  opacity: 0.95;
}
.right-bg-panel::after {
  background: linear-gradient(
    to right,
    rgba(var(--dark2-components), 0),
    rgba(var(--dark2-components), 0.8),
    rgba(var(--dark3-components), 1),
    rgba(var(--dark3-components), 1)
  );
  transition: left var(--bg-transition), opacity var(--bg-transition);
}
.right-bg-panel.pulse::after {
  left: 5px;
  opacity: 0.95;
}

/* #endregion */

/* Background managing */
/* #region */

/* Background color */

.bg--red,
.bg--green,
.bg--blue {
  transition: background-color var(--bg-transition);
}
.bg--red {
  background-color: var(--red-bg);
}
.bg--green {
  background-color: var(--green-bg);
}
.bg--blue {
  background-color: var(--blue-bg);
}

.bg--red.bg-shadow--red,
.bg--green.bg-shadow--green,
.bg--blue.bg-shadow--blue {
  transition: background-color var(--bg-transition), box-shadow var(--bg-transition);
}

/* Box shadow based on background color */
.bg-shadow--red,
.bg-shadow--green,
.bg-shadow--blue {
  transition: box-shadow var(--bg-transition);
}
.bg-shadow--red {
  box-shadow: var(--bg-shadow-red);
}
.bg-shadow--red.pulse {
  box-shadow: var(--bg-shadow-red-pulse);
}
.bg-shadow--green {
  box-shadow: var(--bg-shadow-green);
}
.bg-shadow--green.pulse {
  box-shadow: var(--bg-shadow-green-pulse);
}
.bg-shadow--blue {
  box-shadow: var(--bg-shadow-blue);
}
.bg-shadow--blue.pulse {
  box-shadow: var(--bg-shadow-blue-pulse);
}

/* #endregion */

/* App part containers */
.planner-container,
.builder-container,
.analyzer-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;

  position: relative;

  background-color: rgba(var(--dark3-components), 0.9);
}

.planner-container > .nav-bar__wrapper, 
.builder-container > .nav-bar__wrapper, 
.analyzer-container > .nav-bar__wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.content-wrapper {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  position: relative;
}