.team-view__wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

.team-builder__wrapper {
  grid-column: 1 / 9;
}
.reference-panel__wrapper {
  grid-column: 9 / 13;
}