.versus__wrapper {
  display: grid;
  grid-template-columns: 25% auto auto 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: row;
  gap: 1rem;

  position: relative;
  width: 100%;
  height: 100%;

  font-family: var(--monospace);
}