.button {
  position: relative;

  font-family: var(--monospace);
  font-weight: 400;

  transition: 0.2s ease-in;
}

.button--active {
  color: var(--blue1);
}

.button:disabled {
  content: '';
  height: 1.5rem;
}

.button:hover:enabled,
.button:focus:enabled {
  cursor: pointer;
  box-shadow: var(--button-shadow);
}

/* Triangle logic */
/* #region */

/* Set up triangle--invisible until hovered or active */
.button:enabled::before {
  content: '';
  position: absolute;
  left: -0.5rem;
  top: 0.5em;
  width: 0;
  height: 0;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
  transition: 0.1s ease-in;
  opacity: 0;
}

/* Active: blue */
.button--active:enabled::before {
  border-left-color: var(--blue1);
  opacity: 1;
}

/* Inactive, hover: blue */
.button:hover:enabled::before,
.button:focus:enabled::before {
  border-left-color: var(--blue1);
  opacity: 1;
}

/* Active, hover: white */
.button--active:hover:enabled::before,
.button--active:focus:enabled::before {
  border-left-color: var(--light1);
  opacity: 1;
}

/* #endregion */


