.type-icon {
  background-image: url('../../assets/icons/typeicons5-sheet.png');
}

.pokemon-icon {
  background-image: url('../../assets/icons/pokemonicons-sheet.png');
}

.item-icon {
  background-image: url('../../assets/icons/itemicons-sheet.png');
}