/* Variable declarations */
:root {
  --app-width: 80vw;

  overflow-y: scroll;
  line-height: 1.5;

  /* Darks */
  --dark1: #545454;
  --dark2: #343434;
  --dark2-components: 52, 52, 52;
  --dark3: #141414;
  
  
  /* Lights */ 
  --light1: #ededed;
  --light2: #dedede;
  --light3: #aaaaaa;
  
  /* Blues */
  --blue1: lightblue;
  --blue3: #515158;

  /* Greens */
  --green1: #50C878;
  --green1-components: 80, 200, 120;
  --green3: #515851;

  /* Reds */
  --red1: #D10056;
  --red3: #585151;

  /* Fonts */
  --monospace: monospace;

  /* Other stylings */
  --button-shadow: inset 0px -5px 1px 0 rgba(0, 0, 0, 0.2);
  --control-shadow: inset 3px 3px rgba(0,0,0,0.2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Page background */
  
  /* background-color: #c9ecc9; */
  background-color: var(--dark3);

  /* Main font color */
  color: var(--light1);
}

/* Overwrite old link styles */
a, a:visited, a:hover, a:active {
  color: inherit;
}

/* Remove default button styling */
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.app {
  width: var(--app-width);
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
