/* Variable declarations */
:root {
  --app-width: 80vw;

  overflow-y: scroll;
  line-height: 1.5;

  /* Darks */
  --dark3: #141414;
  --dark2: #343434;
  --dark1: #545454;
  
  
  /* Lights */ 
  --light1: #ededed;
  --light2: #dedede;
  --light3: #aaaaaa;
  

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Page background */
  background-color: var(--dark3);

  /* Main font color */
  color: var(--light1);
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.app {
  width: var(--app-width);
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
