/* Entries */
/* #region */

/* Entire row */
.planner-search__entry, .planner-accordion__entry {
  position: relative;
  padding-top: var(--entry-vertical-padding);
  padding-bottom: var(--entry-vertical-padding);
  transition: ease 0.25s;

  overflow: hidden;

  font-family: var(--monospace);
}

/* Name */
.planner__entry-row-name {
  grid-column: 1 / 2;

  display: inline-block;

  padding-right: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  transform-origin: top left;

  font-size: 0.9rem;
}

.planner__entry-row-name:hover {
  text-decoration: underline;
}

/* Data */
.planner-search__entry-data, .planner-accordion__entry-data {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  height: fit-content;

  font-size: 0.9rem;
}

.planner-search__entry-data-key, .planner-accordion__entry-data-key {
  grid-column: 2 / 3;
  font-weight: 700;
}

.planner-search__entry-data-value, .planner-accordion__entry-data-value {
  grid-column: 3 / 4;
}

/* #endregion */
