/* Dropdown */
/* #region */

.dropdown__wrapper {
  position: relative;
}

.dropdown {
  background: #ffffff;
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: inherit;
  opacity: 0;
  visibility: hidden;
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

.dropdown__options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown__option {
  text-decoration: none;
  color: #333333;
  padding: 0 0.5rem;
  display: block;
  font-size: 0.9rem;
}

.dropdown__option:hover {
  background: lightblue;
  cursor: pointer;
}

.dropdown__trigger {
  background: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: none;
  vertical-align: middle;
}

.dropdown__trigger:hover {
  background: lightblue;
}

.dropdown__title {
  font-weight: 700;
  vertical-align: middle;
}

/* #endregion */