/* Type select */
/* #region */

.type-filter__wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
}

.type-filter__select-all-type {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  justify-self: center;
  align-self: center;
}

.type-filter__select-type {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  align-self: center;
}

/* #endregion */

/* Stat filter */
/* #region */

.stat-filter__wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
}

.stat-filter__reset {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  
  justify-self: center;
  align-self: center;
}

.stat-filter__dropdown {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: flex-start;
  align-self: center;
}

.stat-filter__base-stat-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stat-filter__base-stat-name {
  font-family: var(--monospace);
  margin-right: 3rem;
}

/* #endregion */