.pokemon-filter__wrapper {

  background-color: var(--dark1);
  box-shadow: var(--control-shadow);
  border-radius: 15px;
  
  width: 95%;
  height: 96%;

  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.pokemon-filter__type-filter-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.pokemon-filter__stat-filter-wrapper {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  position: relative;
  overflow-y: scroll;
}

/* Type select */
/* #region */

.pokemon-filter__button {
  position: relative;
  font-family: var(--monospace);;
  padding: 0.25rem;

  transition: 0.2s ease-in;
}

.pokemon-filter__button--active {
  color: var(--blue1);
}

.pokemon-filter__button:hover:enabled {
  cursor: pointer;
  box-shadow: var(--button-shadow);
}

.pokemon-filter__button:disabled {
  color: var(--dark1);
}

/* Triangle logic */
/* #region */

/* Set up triangle--invisible until hovered or active */
.pokemon-filter__button:enabled::before {
  content: "";
  position: absolute;
  left: -0.25rem;
  top: 0.6rem;
  width: 0;
  height: 0;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
  transition: 0.1s ease-in;
  opacity: 0;
}

/* Active: blue */
.pokemon-filter__button--active:enabled::before {
  border-left-color: var(--blue1);
  opacity: 1;
}

/* Inactive, hover: blue */
.pokemon-filter__button:hover:enabled::before {
  border-left-color: var(--blue1);
  opacity: 1;
}

/* Active, hover: white */
.pokemon-filter__button--active:hover:enabled::before {
  border-left-color: var(--light1);
  opacity: 1;
}

/* #endregion */


/* #region */

.base-stats__wrapper {
  display: flex;
  flex-direction: column;
}

.pokemon-filter__stat-wrapper {
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #endregion */