/* Type select */
/* #region */

.type-filter__wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
}

.type-filter__select-all-type {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  justify-self: center;
  align-self: center;
}

.type-filter__select-type {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  align-self: center;
}

/* Buttons */
/* #region */

.type-filter__button {
  position: relative;
  font-family: var(--monospace);;
  padding: 0.25rem;

  transition: 0.2s ease-in;
}

.type-filter__button--active {
  color: var(--blue1);
}

.type-filter__button:hover:enabled {
  cursor: pointer;
  box-shadow: var(--button-shadow);
}

.type-filter__button:disabled {
  color: var(--dark1);
}

/* Triangle logic */
/* #region */

/* Set up triangle--invisible until hovered or active */
.type-filter__button:enabled::before {
  content: "";
  position: absolute;
  left: -0.25rem;
  top: 0.6rem;
  width: 0;
  height: 0;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
  transition: 0.1s ease-in;
  opacity: 0;
}

/* Active: blue */
.type-filter__button--active:enabled::before {
  border-left-color: var(--blue1);
  opacity: 1;
}

/* Inactive, hover: blue */
.type-filter__button:hover:enabled::before {
  border-left-color: var(--blue1);
  opacity: 1;
}

/* Active, hover: white */
.type-filter__button--active:hover:enabled::before {
  border-left-color: var(--light1);
  opacity: 1;
}

/* #endregion */

/* #endregion */

/* #endregion */

/* Stat filter */
/* #region */

.stat-filter__wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
}

.stat-filter__reset {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  
  justify-self: center;
  align-self: center;
}

.stat-filter__dropdown {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: flex-start;
  align-self: center;
}

.stat-filter__base-stat-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.stat-filter__base-stat-name {
  font-family: var(--monospace);
  margin-right: 3rem;
}

/* #endregion */